@{
    ViewData["Title"] = "Home Page";
    int number = 0;
}


<form method="get" , asp-page="">
    <input placeholder="mm-dd-yyyy" type="date" class="form-label" id="start" name="start" />
    To
    <input placeholder="mm-dd-yyyy" type="date" class="form-label" id="start" name="end" />
    <br />
    <select class="col-md-2" id="type" name="type" content="width=device-width, initial-scale=1">
        <option>Type of Company</option>
        <option>Saturday-Non-working Company</option>
        <option>Saturday-Working Company</option>
    </select>
    <button class="btn btn-default" type="submit" value="Apply">
        Button
    </button>
</form>
<hr />
<i>*holidays(dd/MM): 01-01, 30-04, 01-05, 02-09</i>
<br />
<i>*Dù ai đi ngược về xuôi nhớ ngày Giỗ Tổ mùng 10 tháng 3r</i>
<hr />
<table class="table table-striped">


    <tr>
        <td> #</td>
        <td> Working Day</td>
        <td> Dayoff</td>
        <td> </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@(++number)</td>
            <td>@item.Date.ToString("dd-MM")</td>
            <td>
                @if (item.IsHoliday == true)
                {

                    <p> Holiday</p>
                }
                else if (item.Selection == true)
                {
                    <p> Rostered Dayoff</p>
                }

            </td>
            <td>
                @if (item.Weekend == true)
                {
                    <p> Weekend</p>
                }
                @*else if(item.Weekend == true)
            {
            <p> Weekend</p>
            }
            else if(item.Selection == true)
            {
            <p> Ro</p>
            }*@
            </td>

        </tr>
    }
</table>
